## Description 
Attached is a CSV file which has the following details about products from various ecommerce sites. 
● UUID (Primary Key) 

● Price (String) 

● Price_unfiltered (String) 

● Product Type 

● Category 

● Level 1 -> This is just a classification of a product. 

CSV FILE -> DOWNLOAD

## Task: Use the database to find the following results from this data.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("test/Data.csv") # I have renamed the downloaded data as "Data.csv"  for convenience

In [3]:
df.head(10)

,uuid,price_string,price_string_unf,product_type,level_1,category
0,638744a4-b0ae-4166-8cb6-5c063c862036,NaN,NaN,TGFwdG9wIENvdmVycy9CYWdz,TGFwdG9wIENhc2U,RWxlY3Ryb25pY3M
1,ab313969-02cc-48b2-9daf-0054efb70b92,NaN,NaN,QmFraW5nIEN1cHMgYW5kIE1hdHM,QmFraW5nIE1hdHMgLyBCYWtpbmcgZGlzaA,a2l0Y2hpbmcgYW5kIGRpbmluZw
2,acbd66ff-79f8-467a-91f9-108a45af5626,$19.95,NaN,R3VtbWllcyB2aXRhbWlucyBhbmQgbWluZXJhbHMgZm9yIG...,SW1tdW5pdHkgZ3VtbWllcw,SGVhbHRo
3,963915d6-b2e3-4098-b242-9410593cf205,$92.00,NaN,U2VydW1z,RmFjZSBTZXJ1bQ,YmVhdXR5IGFuZCBwZXJzb25hbCBjYXJl
4,b5b68f3c-b1e0-40e5-8ee5-e2f7236c1daf,11.50,NaN,RWF0aW5nIFV0ZW5zaWxzL0N1dGxlcnk,Q2hvcHN0aWNrcw,a2l0Y2hpbmcgYW5kIGRpbmluZw
5,389d9f75-cc3f-4bd2-94f7-93e381a3bed5,NaN,NaN,TmF0dXJhbCBTd2VldGVuZXJzLyBTdWdhcg,TW9uayBGcnVpdA,Z3JvY2VyaWVz
6,9599f1a9-d406-43eb-89f5-9b1c0af1ac9a,$24.99,NaN,TW9wcyBhbmQgYnJvb21z,TW9w,SG91c2Vob2xkIGFuZCBDbGVhbmluZw
7,35799087-f6f4-4ca2-abfe-cbb5c27d2f1a,$148.00,NaN,V29tZW5zIFBhbnRz,V29tZW5zIFJlZ3VsYXIvQ2FzdWFsIFBhbnRz,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz
8,9b3f553e-ee4c-4e1c-822e-c8c6c1b7f02a,$89,NaN,V29tZW5zIFBhbnRz,V29tZW5zIFRpZ2h0cw,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz
9,6871b427-3c2c-4b3d-a304-c0a9f924439d,$14.95,NaN,Um9sbGluZyBQaW4,UGxheSBEb3VnaCBSb2xsaW5nIFBpbg,VG95cyBhbmQgR2FtZXM

In [4]:
df.shape

(13730000, 6)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13730000 entries, 0 to 13729999
Data columns (total 6 columns):
 #   Column            Dtype
---  ------            -----
 0   uuid              object
 1   price_string      object
 2   price_string_unf  object
 3   product_type      object
 4   level_1           object
 5   category          object
dtypes: object(6)
memory usage: 628.5+ MB

In [6]:
df.describe()

,uuid,price_string,price_string_unf,product_type,level_1,category
count,13730000,5510000,310000,13720000,13680000,13720000
unique,1373,248,26,321,595,13
top,638744a4-b0ae-4166-8cb6-5c063c862036,$0.00,$6.75,U2NydWJzIGFuZCBjbGVhbmluZyBjbG90aHM,U3dlYXRzaGlydA,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz
freq,10000,240000,30000,200000,90000,3910000

In [7]:
print(df.columns)

Index(['uuid', 'price_string', 'price_string_unf', 'product_type', 'level_1',
       'category'],
      dtype='object')

## 1. Products without prices

In [8]:
df["price_string"].isna().sum()

8220000

In [9]:
df[df['price_string'].isna()]

,uuid,price_string,price_string_unf,product_type,level_1,category
0,638744a4-b0ae-4166-8cb6-5c063c862036,NaN,NaN,TGFwdG9wIENvdmVycy9CYWdz,TGFwdG9wIENhc2U,RWxlY3Ryb25pY3M
1,ab313969-02cc-48b2-9daf-0054efb70b92,NaN,NaN,QmFraW5nIEN1cHMgYW5kIE1hdHM,QmFraW5nIE1hdHMgLyBCYWtpbmcgZGlzaA,a2l0Y2hpbmcgYW5kIGRpbmluZw
5,389d9f75-cc3f-4bd2-94f7-93e381a3bed5,NaN,NaN,TmF0dXJhbCBTd2VldGVuZXJzLyBTdWdhcg,TW9uayBGcnVpdA,Z3JvY2VyaWVz
13,1f2766ec-0a27-43f8-b28b-77a44492ead1,NaN,NaN,U2NydWJzIGFuZCBjbGVhbmluZyBjbG90aHM,U2NydWJz,SG91c2Vob2xkIGFuZCBDbGVhbmluZw
16,7bad39f5-74b9-4611-afb9-46fb135190cd,NaN,NaN,UGx1cyBzaXplIHdlYXIgZHJlc3M,RHJlc3M,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz
...,...,...,...,...,...,...
13729992,8d763911-79b7-402d-8964-6bfe89692c66,NaN,NaN,TWVucyB3b3Jrd2Vhci8gb2ZmaWNlIHdlYXI,U2hpcnRz,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz
13729993,2dc182aa-d591-49e4-85d1-5c4a60a09664,NaN,NaN,U3BpY2Vz,UGVwcGVy,Z3JvY2VyaWVz
13729995,2a13338e-9268-4f7b-9e7c-b8c41c72971b,NaN,NaN,RHJlc3Nlcw,TWF4aSBkcmVzcw,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz
13729997,679f073a-862a-4e43-b5ce-41e45afd3bfa,NaN,NaN,UGV0IEZvb2Q,RHJ5IERvZyBGb29k,cGV0IHN1cHBsaWVz
13729998,25677eee-c26b-4abf-bd10-ca77a800ba26,NaN,NaN,U2F1Y2U,QkJRIFNhdWNl,Z3JvY2VyaWVz

In [10]:
#These are the products without prices

## 2.Count of products without prices and with prices in each Product Type, Category, Level 1

In [11]:
df['product_type'].nunique()

321

In [12]:
df['category'].nunique()

13

In [23]:
df['price'] = np.where(df['price_string'].isnull(), 0, 1)

In [24]:
df['price'].head()

0    0
1    0
2    1
3    1
4    1
Name: price, dtype: int32

In [25]:
df2=df.groupby(["product_type","price"])["price"].count()

In [26]:
df2.head()

product_type            price
Q0FUIExJVFRFUg          0        30000
Q29mZmVlIEJlYW5z        0        50000
                        1        30000
Q29mZmVlIEZpbHRlcnM     0        10000
Q29uZGl0aW9uZXIgSGFpcg  0        20000
Name: price, dtype: int64

In [ ]:
# 0 depicts no price 
# 1 depicts with price

In [31]:
df3=df.groupby(["category","price"])["price"].count()
df3.head(10)

category                          price
Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz  0        2050000
                                  1        1860000
QXJ0IHN1cHBsaWVz                  0         130000
                                  1         190000
QmFieWNhcmU                       0         570000
                                  1          90000
RWxlY3Ryb25pY3M                   0         210000
                                  1         110000
SG91c2Vob2xkIGFuZCBDbGVhbmluZw    0         870000
                                  1         700000
Name: price, dtype: int64

In [32]:
df4=df.groupby(["level_1","price"])["price"].count()
df4.head(10)

level_1           price
MTAgQ3Vw          1        10000
MjAgQ3Vw          1        10000
MjAgUGludHM       0        20000
                  1        10000
MzAgQ3Vw          1        10000
MzAtIDM1IFBpbnRz  0        10000
                  1        10000
NSBHYWxsb24       1        10000
NTAgUGludHM       0        20000
                  1        10000
Name: price, dtype: int64

## 3. Correct Product Prices in the correct format (eg: $56) wherever possible and separate them into currency and value columns.

In [33]:
def clean_currency(x):
    """ If the value is a string, then remove currency symbol and delimiters
    otherwise, the value is numeric and can be converted
    """
    if isinstance(x, str):
        return(x.replace('$', '').replace(',', ''))
    return(x)

In [35]:
df['P'] = df['price_string'].apply(clean_currency).astype('float')
df['P_type'] = df['P'].apply(lambda x: type(x).__name__)

In [38]:
df['P'].head(10)

0       NaN
1       NaN
2     19.95
3     92.00
4     11.50
5       NaN
6     24.99
7    148.00
8     89.00
9     14.95
Name: P, dtype: float64

In [39]:
df['P_type']

0           float
1           float
2           float
3           float
4           float
            ...
13729995    float
13729996    float
13729997    float
13729998    float
13729999    float
Name: P_type, Length: 13730000, dtype: object

## 4. List out the categories with average price of product.

In [40]:
df5=df.groupby(['category'])['P'].mean()

In [41]:
df5

category
Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz       125.413871
QXJ0IHN1cHBsaWVz                        19.471053
QmFieWNhcmU                            163.688889
RWxlY3Ryb25pY3M                         60.258182
SG91c2Vob2xkIGFuZCBDbGVhbmluZw          76.199000
SGVhbHRo                                32.557586
VG95cyBhbmQgR2FtZXM                     32.448947
VG9vbHMgYW5kIGhvbWUgaW1wcm92ZW1lbnQ     82.223500
YmVhdXR5IGFuZCBwZXJzb25hbCBjYXJl        34.745067
Z3JvY2VyaWVz                            10.541667
a2l0Y2hpbmcgYW5kIGRpbmluZw              16.703235
b2ZmaWNlIHByb2R1Y3Rz                    20.480000
cGV0IHN1cHBsaWVz                        14.181875
Name: P, dtype: float64